<h2>Lista de categorias</h2>
<hr>
<a href="/admin/categorias/add">
    <button class="btn btn-success">Nova categoria</button>
</a>

{{#each categorias}}
    <div class="card mt-4">
        <div class="card-body">
            <h3>
                {{nome}}
            </h3>
            <small>Slug: {{slug}}</small>
            <br>
            <small>Data de criação: {{date}}</small>
            <br>
            <div class="d-flex flex-row mt-3">
                <a href="/admin/categorias/edit/{{_id}}" class="me-3">
                    <button class="btn btn-success">Editar categoria</button>
                </a>
                <form action="/admin/categorias/deletar" method="POST">
                    <input type="hidden" name="id" value="{{_id}}">
                    <button type="submit" class="btn btn-danger">Deletar</button>
                </form>
            </div>
        </div>
    </div>
{{else}}
    <h4 class="mt-3">Nenhuma categoria registrada</h4>
{{/each}}
