<div class="my-header my-4">
    <h2 class="my-4">Lista de categorias</h2>
    <hr>
    <a href="/admin/categorias/add">
        <button class="my-2 my-btn-light">Nova categoria</button>
    </a>
</div>

<div class="cards">
    {{#each categorias}}
        <div class="my-card mt-4">
            <div class="my-card-body">
                <h3>
                    {{nome}}
                </h3>
                <small><span class="small-destaque">Slug: </span>{{slug}}</small>
                <br>
                <small><span class="small-destaque">Data de criação: </span>{{date}}</small>
                <br>
                <div class="d-flex flex-row mt-3">
                    <a href="/admin/categorias/edit/{{_id}}" class="me-3">
                        <button class="my-btn-light">Editar categoria</button>
                    </a>
                    <form action="/admin/categorias/deletar" method="POST">
                        <input type="hidden" name="id" value="{{_id}}">
                        <button type="submit">Deletar</button>
                    </form>
                </div>
            </div>
        </div>
    {{else}}
        <h4 class="mt-3">Nenhuma categoria registrada</h4>
    {{/each}}
</div>
