<h2 class="mt-3">Lista de postagens</h2>
<hr>
<a href="/admin/postagens/add">
    <button class="my-btn-light mt-3">Nova Postagem</button>
</a>

<div class="cards">
    {{#each postagens}}
        <div class="my-card my-4">
            <div class="card-body">
                <h4>{{titulo}}</h4>
                <p>Descrição: {{descricao}}</p>
                <small><span class="small-destaque">Data: </span>{{data}}</small> <br>
                <small><span class="small-destaque">Categoria: </span>{{categoria.nome}}</small> <br>

                <div class="d-flex flex-row mt-3">
                    <a href="/admin/postagens/edit/{{_id}}" class="me-3">
                        <button class="my-btn-light">Editar postagem</button>
                    </a>
                    <form action="/admin/postagens/deletar" method="POST">
                        <input name="id" type="hidden" value="{{_id}}">
                        <button>Deletar</button>
                    </form>
                </div>
            </div>
        </div>
    {{else}}
    <p>Nenhuma postagem registrada</p>
    {{/each}}
</div>
