<div class="my-card">
    <div class="my-card-body">
        <h3 class="my-card-title">{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}">
            <button class="my-btn btn-postagem">Leia mais</button>
        </a>
        <hr>
        <small><span class="small-destaque">Categoria: </span> {{categoria.nome}}</small> <br>
        <small><span class="small-destaque">Data de publicação: </span> {{data}}</small>
    </div>
</div>